body {
  background-image: url(./wp4312249.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  transition: all 1s ease-in-out;

}
.wrapper {
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 7px 7px;
  color: aliceblue;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  column-gap: 20px;
}

.item1 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  max-width: 480px;
  padding: 20px;
  color: aliceblue;
}

.yan {
  gap: 90px;
  justify-content: center;
  text-align: center;
  padding: 100px;
  color: aliceblue;
  text-transform: capitalize;
  border-radius: 10px;
}

.div {
  background-color: rgba(0, 0, 0, 0.728);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}
.style {
  color: rgb(245, 245, 14);
}

h1 {
  font-size: 60px;
  font-family: fantasy serif;
}

div p {
  color: rgba(190, 191, 192, 0.653);
}

div button {
  background-color: rgb(240, 239, 237);
  border-radius: 4px;
  flex-wrap: wrap;
  border: none;
  padding: 6px;
  margin: 8px;
}
.f1 {
  color: rgb(200, 242, 14);
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px 0;
  margin: 0, auto;
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.span {
  grid-column: 2 span;
}
.rowspan {
  grid-row: 2 span;
}

@keyframes backgroundimageanimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  height: 100vh;
  width: 100%;
  background: url(./wp4312249.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: backgroundimageanimation 20s infinite;
}
*{
    transition: all 1s ease-in-out;

}
@media only screen and (max-width: 992px) {
  .yan {
    padding: 40px;
  }
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .item1 {
    display: none;
  }
  .wrapper {
    padding: 0 20px;
  }
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .span {
    grid-column: 1 span;
  }
}
